<div class="padding-both-side">
    <h2>プロフィール更新</h2>

    <%# エラーメッセージ %>
    <% @profile.errors.full_messages.each do |message| %>
        <div class="form-error">
            <%= message %>
        </div>
    <% end %>
    <%# エラーメッセージ %>

    <%= render 'form' %>

    <div>
        <p class="skip-top"><%= link_to(root_path) do %><i class="fas fa-home icon fa-1x" title="Top"></i><span class= "hide-sp"> Top</span><% end %></p>
    </div>


</div>
