<div class="padding-both-side">
    <h2>投稿を編集する</h2>
    <%= render 'form' %>

    <div>
        <p class="skip-top"><%= link_to(root_path) do %><i class="fas fa-home icon fa-1x" title="Top"></i><span class= "hide-sp"> Top</span><% end %></p>
    </div>


</div>