/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
    margin: 0 auto;
    background-color: #f6f6f6;
}


#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px 0 0;
    height: 60px;
    /* ヘッダー固定作業 */
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;

    /* ロゴ------------------------------------------- */
    .logo a{
        font-size: 20px;
        text-decoration: none;
        font-weight: bolder; 
        color: rgba(51, 51, 51, 0.998);          /* ロゴの文字異色　*/
        font-family: cursive; 
        padding: 5px 10px;
        /* background-color: white;  ロゴの背景色　*/
        border-radius: 5px;    
    }
}
    /* スマホ時消す----------------------------------------------------------------------------------- */
    @media screen and (max-width: 650px) {
        .hide-sph {
           display: none;
        }
    }
    /* ナブ------------------------------------------- */
    #nav {
        list-style: none;
        li {
            width: 90px;
            text-align: center;
            background-color: rgba(51, 51, 51, 0.601);
            display: inline-block;
            border-radius: 5px;
            a {
                text-decoration: none;
                color: #fff;
                /* クリック範囲を親要素まで拡大*/
                display: block;
                transition    : .3s;         /* なめらか変化 */
                border        : 0px solid #333;    /* 枠の指定 */    
                border-radius: 5px;    
            }

            /* ホバー------------------------------------------------------- */
            a:hover {
                color         : #333;       
                background    : #ffffff;  
                border        : 1px solid #333;    /* 枠の指定 */    
            }        
        }
    }  

/* -------------------------------------------------------------------------------------------------  */

/* ハンバーガー　CSS---------------------------------------------------------------------------------- */
@media screen and (min-width: 651px) {
    .hide-pc {
       display: none;
    }
}

.menu-btn {
    cursor: pointer; /* カールソルを人差し指に変更 */
    position: fixed;
    top: 10px;
    right: 10px;
    display: flex;
    height: 30px;
    width: 40px;
    justify-content: center;
    align-items: center;
    z-index: 90;
    background-color: #3d474e89;
    border-radius: 5px;
    margin-top: 5px;
}
.menu-btn span,
.menu-btn span:before,
.menu-btn span:after {
    content: '';
    display: block;
    height: 3px;
    width: 25px;
    border-radius: 3px;
    background-color: #ffffff;
    position: absolute;

}
.menu-btn span:before {
    bottom: 8px;
}
.menu-btn span:after {
    top: 8px;
}


#menu-btn-check:checked ~ .menu-btn span {
    background-color: rgba(255, 255, 255, 0);/*メニューオープン時は真ん中の線を透明にする*/
}
#menu-btn-check:checked ~ .menu-btn span::before {
    bottom: 0;
    transform: rotate(45deg);
}
#menu-btn-check:checked ~ .menu-btn span::after {
    top: 0;
    transform: rotate(-45deg);
}

#menu-btn-check {
    display: none;
}

#menu-btn-check:checked ~ .menu-content {
    left: 0;/*メニューを画面内へ*/
}

.menu-content {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 100%;/*leftの値を変更してメニューを画面外へ*/
    z-index: 80;
    background-color: #0a0a0a90;
    transition: all 0.5s;/*アニメーション設定*/
}

.menu-content ul {
    padding: 70px 10px 0;
}
.menu-content ul li {
    border-bottom: solid 1px #ffffff;
    list-style: none;
}

/* ログアウトのリンクのみメニューの下部に表示 */
.logout {
    margin-top:150px ;
    .fa-sign-out-alt {
        color: #fff;
    }
    .font-color {
        color: #fff;
    }
}

.menu-content ul li a {
    display: block;
    width: 100%;
    font-size: 15px;
    box-sizing: border-box;
    color:#ffffff;
    text-decoration: none;
    padding: 9px 15px 10px 0;
    position: relative;
}
.menu-content ul li a::before {
    content: "";
    width: 7px;
    height: 7px;
    border-top: solid 2px #ffffff;
    border-right: solid 2px #ffffff;
    transform: rotate(45deg);
    position: absolute;
    right: 11px;
    top: 16px;
}

/* ------------------------------------------------------------ハンバーガー　CSS */




/* フッター----------------------------------------------------------------- */
#footer {
    background-color: rgba(51, 51, 51, 0.601);
    text-align: center;
    color: white;
    padding: 10px 0;
    margin-top: 20px;
}

#footer p {
    margin: 0;
    font-size: 12px;
}


/* notice.alert------------------------------------------------------------- */
.toast {
    margin-bottom: 10px;
    text-align: center;
}

.toast .notice {
    background-color: rgba(224, 187, 93, 0.87);
    color: #fff;
    font-weight: bold;
    padding: 10px;
    border-radius: 5px;
}

.toast .alert {
    background-color: #980a05e8;
    color: #fff;
    font-weight: bold;
    padding: 10px;
    border-radius: 5px;
}

/* 新規登録・ログイン画面・プロフ・編集・などフォーム左右の空白調整----------------------------------*/
.padding-both-side {
    padding: 0 15%;
}

/* ジャンプリンク------------------------------------------------------- */
.skip-top {
    text-align: center;
  }