/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
    margin: 0 auto;
    background-color: #f6f6f6;
}

h2 {
    text-align: center;
}


/* PC版表示　header---------------------------------------------------------- */
@media screen and (min-width: 651px) {
#header {
    display: flex;
    align-items: start; /* アイテムを先頭(上部)にまとめる */
    justify-content: space-between;
    padding: 0;
    height: 80px;
    /* ヘッダー固定作業 cf.posts.css */
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;

    /* ロゴ------------------------------------------- */
    .logo {
        margin-top: 15px;
    }  
    .logo a{
        font-size: 15px;
        text-decoration: none; 
        color: #fff;          /* ロゴの文字異色 rgba(51, 51, 51, 0.998)　*/
        font-family: cursive; 
        padding: 2px 17px;
        margin-left: 10px;
        /* background-color: white;  ロゴの背景色　*/
        border-radius: 3px;
        background:linear-gradient( #980a05dc, #ff4535dd);
        border        : 4px solid  rgba(224, 187, 93, 0.87) ;
    }
}
}

/* PC版　header--------------------------------------------------------------------------------------- */

/* (PC版)スマホ時消す----------------------------------------------------------------------------------- */
@media screen and (max-width: 650px) {
    .hide-sph {
       display: none;
    }
}
/* --------------------------------------------------------------------------------------------------- */


    /* ナブ(PC版に反映)------------------------------------------------------------------------------- */
    #nav {
        list-style: none;
        margin-right: 25px;
        li {
            width: 90px;
            text-align: center;
            background-color: rgba(51, 51, 51, 0.601);
            background:linear-gradient(rgba(51, 51, 51, 0.8), rgba(51, 51, 51, 0.601));
            display: inline-block;
            border-radius: 3px;
            padding: 1px;            
            a {
                color: #fff;
                /* クリック範囲を親要素まで拡大*/
                display: block;
                transition    : .1s;         /* なめらか変化 */
                border        : 0px solid #333;    /* 枠の指定 0で実質無し*/
                border-radius: 3px;                    
            }

            /* ホバー------------------------------------------------------- */
            a:hover {
                color         : #333;       
                background    : #ffffff;  
                 
            }        
        }
    }  

    #nav .login {
        background:linear-gradient( #980a05dc, #ff4535dd);  /* erb側のローマ字とひらがなの関係で良きせぬ文字サイズボケが発生（erb側で対応済み） */ 
    }
    #nav .logout {
        background:linear-gradient( #980a05dc, #ff4535dd);   /* erb側のローマ字とひらがなの関係で良きせぬ文字サイズボケが発生（erb側で対応済み） */
    }

/* -------------------------------------------------------------------------------------------------  */



/* ハンバーガー　CSS　（スマホ版：PC時消す）---------------------------------------------------------------------------------- */
@media screen and (min-width: 651px) {
    .hide-pc {
       display: none;
    }
}

/* ヘッダー　スマホ版--------------------------------------------------------------------------------------------- */
@media screen and (max-width: 650px) {
    #header {
        display: flex;
        align-items: start; /* アイテムを先頭(上部)にまとめる */
        justify-content: space-between;
        padding: 0;
        height: 70px;
        /* ヘッダー固定作業 cf.posts.css */
        position: fixed;
        z-index: 999;
        top: 0;
        left: 0;
        width: 100%;
        box-sizing: border-box;
    }
    /* ロゴ------------------------------------------- */
    .logo {
        margin-top: 12px;
    }  
    .logo a{
        font-size: 15px;
        text-decoration: none; 
        color: #fff;          /* ロゴの文字異色 rgba(51, 51, 51, 0.998)　*/
        font-family: cursive; 
        padding: 2px 17px;
        /* background-color: white;  ロゴの背景色　*/
        border-radius: 3px;
        background:linear-gradient( #980a05dc, #ff4535dd);  
        border        : 4px solid  rgba(224, 187, 93, 0.87) ;
    }

    /* スマホ時表示のヘッダー左上ボタン------------------------------------------- */
    .header-upleft-btn {
        margin-top: 12px;
    }  
    .header-upleft-btn a{
        font-size: 17px;
        text-decoration: none; 
        color         : #980a05e8 ; 
        font-family: cursive; 
        padding: 0 5px;
        margin-left: 10px;
        /* background-color: white;  ロゴの背景色　*/
        border-radius: 3px;
        background-color: #f6f6f6;
        border        : 3px solid  rgba(224, 187, 93, 0.87) ;
        transition    : .3s;         /* なめらか変化 */
        }
        .header-upleft-btn a:hover {
            box-shadow    : none;        /* カーソル時の影消去 */
            background:linear-gradient( #980a05dc, #ff4535dd);
            color: #f6f6f6;
    }

}



/* ヘッダー　スマホ版--------------------------------------------------------------------------------------------- */

.menu-btn {
    margin-top: 7px;
    cursor: pointer; /* カールソルを人差し指に変更 */
    position: relative;
    display: flex;
    height: 30px;
    width: 40px;
    justify-content: center;
    align-items: center;
    z-index: 90;
    background-color: none;
    border-radius: 5px;
}

/* 真ん中横線のデザイン */
.menu-btn span {
    content: '';
    display: block;
    height: 4px;
    width: 30px;
    border-radius: 3px;
    background-color: #980a05e8;
    position: absolute;
}
/* 上下横線のデザイン */
.menu-btn span:before,
.menu-btn span:after {
    content: '';
    display: block;
    height: 4px;
    width: 30px;
    border-radius: 3px;
    background-color: rgba(224, 187, 93, 0.87);
    position: absolute;
}
.menu-btn span:before {
    bottom: 10px;
}
.menu-btn span:after {
    top: 10px;
}


#menu-btn-check:checked ~ .menu-btn span {
    background-color: rgba(255, 255, 255, 0);/*メニューオープン時は真ん中の線を透明にする*/
}
#menu-btn-check:checked ~ .menu-btn span::before {
    bottom: 0;
    transform: rotate(45deg);
}
#menu-btn-check:checked ~ .menu-btn span::after {
    top: 0;
    transform: rotate(-45deg);
}

#menu-btn-check {
    display: none;
}

#menu-btn-check:checked ~ .menu-content {
    left: 0;/*メニューを画面内へ*/
}

.menu-content {
    width: 70%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 100%;/*leftの値を変更してメニューを画面外へ*/
    z-index: 80;
    background-color: #a6a6a6a2;
    transition: all 0.8s;/*アニメーション設定*/
}


.menu-content ul {
    padding: 180px 10px 0;
}
.menu-content ul li {
    list-style: none;
    background-color: rgba(0, 0, 0, 0.553);
    padding-left: 10px;
    margin-bottom: 20px; /* メニュー同士の感覚 */
    border-radius: 5px;
}

/* ログインのリンクのみ色を赤に変更 */
.menu-content ul li.ham-login {
    background-color: #980a05da;
}

/* ログアウトのリンクのみメニューの下部に表示 */
.menu-content ul li.ham-logout {
    margin-top:100px ;
    background-color: #980a05da;
    .fa-sign-out-alt {
        color: #fff;
    }
    .font-color {
        color: #fff;
    }
}

.menu-content ul li a {
    display: block;
    width: 100%;
    font-size: 15px;
    box-sizing: border-box;
    color:#ffffff;
    text-decoration: none;
    padding: 9px 15px 10px 0;
    position: relative;
}
.menu-content ul li a::before {
    content: "";
    width: 7px;
    height: 7px;
    border-top: solid 2px #ffffff;
    border-right: solid 2px #ffffff;
    transform: rotate(45deg);
    position: absolute;
    right: 11px;
    top: 16px;
}

/* ------------------------------------------------------------ハンバーガー　CSS */

.left-side-btn {
    padding-top: 10px;
}


/* フッター----------------------------------------------------------------- */


footer {
    background:linear-gradient( #980a05dc, #ff4535dd); 
    text-align: center;
    color: white;
    padding: 10px 0;
    margin-top: auto;
}

footer p {
    margin: 0;
    font-size: 12px;
}
/* #controller-newfooterの各々は下部固定できなかったため特別対応 */
#sessions-new, #registrations-new, #profiles-new, #posts-new  {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    
    footer {
        background:linear-gradient( #ff4535dd, #980a05dc); 
        text-align: center;
        color: white;
        padding: 10px 0;
        margin-top: auto;
    }

    footer p {
        margin: 0;
        font-size: 12px;
    }
}

/* notice.alert------------------------------------------------------------- */
.toast {
    margin-bottom: 10px;
    text-align: center;
}

.toast .notice {
    background-color: rgba(224, 187, 93, 0.87);
    color: #fff;
    font-weight: bold;
    padding: 6px 0 4px 0;
    border-radius: 5px;
    font-size: 13px;
}

.toast .alert {
    background:linear-gradient( #980a05dc, #ff4535dd);
    color: #fff;
    font-weight: bold;
    padding: 6px 0 4px 0;
    border-radius: 5px;
    font-size: 13px;
}

/* 新規登録・ログイン画面・プロフ・編集・などフォーム左右の空白調整----------------------------------*/
.padding-both-side {
    padding: 0 15%;
}

/* ジャンプリンク------------------------------------------------------- */
.skip-top {
    text-align: center;
}

/* 全てのリンクのスラタイルを無効化 */
a {
    text-decoration: none;
    color: rgb(18, 1, 78);
}

/* 全てのsubmitタイプに対して、スマホ時のボタン丸角化を無効化 */
input[type="submit"] {
    -webkit-appearance: none;
}


