#registrations-new, #sessions-new {
    margin-top: 60px; /* header fixed 分の余白 */
    
     h2 {
         text-align: center;
     }

     input[type="email"],input[type="password"] {
        width :100%;
        padding: 5px;
        border-radius: 5px;
        border: 1px solid#ccc;
        appearance: none;
        -webkit-apperance :none;
        -moz-apperance :none;
    }
    .field {
        margin: 10px 0;
    }

    .actions {
        margin: 15px auto;
        display: flex;
        align-items: center;
        justify-content: center;
        max-width: 150px;
            .button {
                display       : block;
                border-radius : 3px;          /* 角丸       */
                font-size     : 11pt;        /* 文字サイズ */
                text-align    : center;      /* 文字位置   */
                cursor        : pointer;     /* カーソル   */
                padding       : 10px 16px;   /* 余白       */
                color         : #fff;     /* 文字色     */    
                background    : #980a05e8;     /* 背景色  */
                line-height   : 1em;         /* 1行の高さ  */
                transition    : .3s;         /* なめらか変化 */                
                
            }
              .button:hover {
                color         : #ffffff;     /* 文字色     */            
                background    : rgba(224, 187, 93, 0.87) ;    /* 背景色     */

            }   
    }

}

/* ゲストユーザーログイン機能実装のため（.action）からデザイン拝借-------------- */
.gest-login {
    margin: 15px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 170px;

        /* link_toに無理やりクラス付けして下線を削除 */
        .underline {
            text-decoration: none;
        }
  
        .button {
            display       : block;
            border-radius : 5%;          /* 角丸       */
            font-size     : 17px;        /* 文字サイズ */            
            text-align    : center;      /* 文字位置   */
            cursor        : pointer;     /* カーソル   */

            padding       : 15px 0px;   /* 余白       */
            background    : rgba(255, 0, 0, 0.807);     /* 背景色     */
            color         : rgb(244, 241, 241);     /* 文字色     */
            line-height   : 1em;         /* 1行の高さ  */
            transition    : .3s;         /* なめらか変化 */
            border        : 1px solid rgba(255, 0, 0, 0.807);    /* 枠の指定 */        
        }
          .button:hover {
            box-shadow    : none;        /* カーソル時の影消去 */
            color         : #333;     /* 背景色     */
            background    : #ffffff;     /* 文字色     */
        }   
        
}

