#registrations-new, #sessions-new {
    margin-top: 80px; /* header fixed 分の余白 */

     input[type="email"],input[type="password"] {
        width :100%;
        padding: 5px;
        border-radius: 5px;
        border: 1px solid#ccc;
        appearance: none;
        -webkit-apperance :none;
        -moz-apperance :none;
    }

    .field {
        margin: 10px 0;
    }

    /* スマホ時にボタンのスタイルが適用されないことへの対応----> 全体　application.scssへの反映完了----------- */
    // input[type="submit"] {
    //     -webkit-appearance: none;
    // }
    
    .actions {
    margin: 30px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 170px;
        .button {            
            -webkit-apperance :none;
            display       : block;
            border-radius : 5%;          /* 角丸       */
            font-size     : 15px;        /* 文字サイズ */            
            text-align    : center;      /* 文字位置   */
            cursor        : pointer;     /* カーソル   */            
            padding       : 7px 7px;   /* 余白       */
            color         : rgb(244, 241, 241);     /* 文字色     */ 
            background    : #980a05e8;     /* 背景色     */   
            line-height   : 1em;         /* 1行の高さ  */
            transition    : .3s;         /* なめらか変化 */
            border        : 4px solid  rgba(224, 187, 93, 0.87) ;
                 
        }
          .button:hover {
            box-shadow    : none;        /* カーソル時の影消去 */
            background    : #fff;
            color         : #980a05e8 ;   
        }   
    }
}

/* ゲストユーザーログイン機能実装のため（.action）からデザイン拝借-------------- */
.gest-login {
    margin: 15px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 170px;

        /* link_toに無理やりクラス付けして下線を削除 */
        .underline {
            text-decoration: none;
        }
  
        .button {
            display       : block;
            border-radius : 5%;          /* 角丸       */
            font-weight   : bolder ;
            font-size     : 17px;        /* 文字サイズ */            
            text-align    : center;      /* 文字位置   */
            cursor        : pointer;     /* カーソル   */
            background    : #ffffff;  
            padding       : 15px 0px;   /* 余白       */
            color         : #980a05e8;    
            
            line-height   : 1em;         /* 1行の高さ  */
            transition    : .3s;         /* なめらか変化 */
            border        : 3px solid #980a05e8;    /* 枠の指定 */        
        }
          .button:hover {
            box-shadow    : none;        /* カーソル時の影消去 */
            color         : rgb(244, 241, 241);     /* 文字色     */ 
            background    : #980a05e8;     /* 背景色     */   
        }   
        
}

