// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* PC時のみ出現させる処理----------------------------------------------- */
@media screen and (min-width: 651px) {
    #welcome-index {      
        .content {
            border-right: 2px solid  rgba(154, 154, 154, 0.601);
            border-left: 2px solid  rgba(154, 154, 154, 0.601);
        }
    }
}
/* -----------------------------------------------PC時のみ出現させる処理 */


#welcome-index {
  margin-top: 70px; /* header fixed 分の余白 */

    .content-wrapper {
        justify-content: space-between;
        margin: 0 10px 0 10px;        
        display: -webkit-flex;
        display: flex;

       .content-block {
            border: 0px solid #000;
            border-radius: 5px;         
            background-color: #f6f6f6;
            display: block;
            width: 100%;                       
        
        .content { 
            border-top: 2px solid rgba(154, 154, 154, 0.601);
            // border-right: 1px solid rgba(51, 51, 51, 0.601);
            // border-bottom: 2px solid rgba(51, 51, 51, 0.601);
            // border-left: 1px solid rgba(51, 51, 51, 0.601); 
            padding: 15px;
            margin-bottom: 10px;
            background:#fff;
          
          
          .user-about {
             display: flex;    
             /* image,img は最下部に記載 */         
             .profile {
              margin-left: 20px;

              .name-history {
                display: flex;
                width: 100%;
                margin-bottom: 10px;
                

                .name {
                  font-weight: bold;
                  font-size: 0.8em; 
                } 

               .learning-history {
                 margin-left: 20px;
                 font-size: 0.7em; 
               }
              }
             }
             .purpose {
                 width: 100%;  
                 font-size: 0.7em;      
             }
           }

           .text {
              border-top: 1px solid rgba(154, 154, 154, 0.601); // user-about の下部との境界線
              font-size: 0.7em;
              word-wrap: break-word;
              margin: 20px 0;
              /* 複数行指定の途中で文字省略（＊IE,Fox非対応との噂）https://www.nxworld.net/css-text-truncate.html */
              display: -webkit-box;
              -webkit-box-orient: vertical;
              -webkit-line-clamp: 2;
              overflow: hidden;              
           }

           .post-times {
            font-size: 0.6em;
            margin-top: 5px;
            text-align: right;
          }

           .images {
              img {
                max-width: 30%;
                max-height: 100%;
                object-fit: cover;
                border-radius: 5px;
              }
           }
         }
       }

    .sidebar {
          border-top: 2px solid rgba(154, 154, 154, 0.601);
          border-right: 2px solid rgba(154, 154, 154, 0.601);
          // border-bottom: 2px solid rgba(154, 154, 154, 0.601);
          border-left: 2px solid rgba(154, 154, 154, 0.601);          
          width: auto;
          padding: 20px;
          background-color: white;
          margin: 0 15px 0 5%; 

        .sidebar__item {
          margin-top: 50px;
        }

         .box {            
              border: 1px solid rgba(154, 154, 154, 0.601);
              width: 100px;
              height: 100px;
              margin: 10px auto;
              border-radius: 5px;
              /* 子要素<p>に対して上下左右中央寄せ */
              display: flex;
              align-items: center;
              justify-content: center;
         }
    }        
  }
}

.sidebar__item--fixed {
  position: sticky;
  margin-bottom: 0;
  top: 10px;
  z-index: 1;
}



/* ユーザー画像をPCとスマホで分岐--------------------------------- */
@media screen and (max-width: 650px) {
  .user-about .image {
     width: 40px; 
     height: 40px;             
       img {
         width: 40px;
         height: 40px;
         object-fit: cover;
         border-radius: 90px;
        }              
 }
}
@media screen and (min-width: 651px) {
  .user-about .image {
     width: 80px; 
     height: 80px;             
       img {
         width: 80px;
         height: 80px;
         object-fit: cover;
         border-radius: 90px;
        }              
 }
}

@media screen and (max-width: 650px) {
  .content-block {
    border: none;
  }
    .sidebar {
      display: none;
    }
  
}